.rti--container {
    --rti-bg: "#fff",
    --rti-border:"#e91e63 !important" 
    --rti-main: "red",
    --rti-radius: "0.5rem !important",
    --rti-s: "0.5rem", /* spacing */
    --rti-tag: "#edf2f7",
    --rti-tag-remove: "#e53e3e",
  }